@use '../../styles/variables.scss' as vars;

.circleTimer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    var(--accent) var(--progress),
    transparent 0deg
  );
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s linear;
  filter: vars.$filter;
  box-shadow: var(--btn-shadow-glow);
}
