.changeSize {
  font-size: 1em;
  cursor: pointer;
  background-color: var(--secondary-color);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: flex;
  justify-items: center;
  align-items: center;

  &:hover {
    color: var(--button-hover-color);
  }
}
