.iconButton {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 44px;
  min-height: 44px;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
  border-radius: 50%;
  border: 2px solid var(--button-color);
  width: 2.75em;
  height: 2.75em;
  font-size: 1.8em;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  .icon {
    color: var(--button-color);
  }

  &:hover {
    background-color: transparent;

    .icon {
      color: var(--button-hover-color);
    }
  }
}
