/* TabataTimer.module.scss */

/* Timer container */
.timerContainer {
  display: grid;
  justify-content: center;
  padding: 10px 20px;
}

/* Header for time remaining */
.timerHeader {
  font-size: 3em;
  margin-bottom: 20px;
  color: var(--primary-color); /* Color will be affected by global theme */
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* Input fields and labels */
.timerControls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.timerInput {
  padding: 8px 15px;
  font-size: 1.2em;
  width: 100px;
}

/* Display timer phase and time remaining */
.timerDisplay {
  font-size: 2.5em;
  margin: 20px 0;
  justify-content: space-around;
  align-items: center;
  display: flex;

  &Icon {
    font-size: 2em;
  }
}

.phaseName {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.roundStatus {
  font-size: 1.2em;
  margin-top: 5px;
  justify-content: space-around;
  align-items: center;
  display: flex;
}

/* Button container */
.timerButtonContainer {
  margin-top: 20px;
  gap: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  overflow: hidden;
}

.timerButton,
.themeButton {
  padding: 10px 20px;
  font-size: 1.2em;
  background-color: var(
    --button-color
  ); /* Color will be affected by global theme */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  display: flex;

  &:hover {
    background-color: var(
      --button-hover-color
    ); /* Hover color will be affected by global theme */
  }
}

.changeSize {
  font-size: 0.5em;
  cursor: pointer;
  color: var(--button-color);

  &:hover {
    color: var(--button-hover-color);
  }
}

.theme {
  color: var(--button-color);
  font-size: 1.5em;

  &Button {
    background-color: transparent;
    border: 1px solid var(--button-color);

    &:hover {
      background-color: transparent;

      .theme {
        color: var(--button-hover-color);
      }
    }
  }
}
