.timerContainer {
  display: grid;
  justify-content: center;
  padding: 0 10px;
  width: max-content;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

/* Header for time remaining */
.timerHeader {
  font-size: 4em;
  color: var(--primary-color); /* Color will be affected by global theme */
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

/* Input fields and labels */
.timerControls {
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  gap: 10px;
  align-items: center;

  label {
    margin-right: 1em;
  }
}

.timerInput {
  padding: 0 5px;
  font-size: 1.2em;
  text-align: center;
  min-width: 2em;
}

/* Display timer phase and time remaining */
.timerDisplay {
  grid-gap: 10px;
  margin: 20px 0;
  font-size: 4em;
  display: grid;
  place-items: center;

  &Icon {
    font-size: 1.5em;
  }

  .stop {
    transform: scaleX(-1);
    color: var(--secondary-color);
  }
}

.phaseName {
  color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.roundStatus {
  font-size: 1.2em;
  justify-content: space-around;
  align-items: center;
  display: flex;
  padding-bottom: 5px;
}

/* Button container */
.actionButtons {
  padding-top: 10px;
  gap: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-items: center;

  .iconButton {
    .stop {
      transform: translateX(0.1em);
    }

    .icon {
      color: var(--button-color);
    }

    &:hover {
      background-color: transparent;

      .icon {
        color: var(--button-hover-color);
      }
    }
  }
}

.timerDisplayIcon {
  visibility: hidden;
  color: var(--primary-color);
}

.workTime {
  line-height: 0.8;
}

.isRunning {
  .workTime {
    color: transparent;
    background: linear-gradient(
      to top,
      var(--secondary-color) 0%,
      var(--secondary-color) var(--progress),
      lightgray var(--progress)
    );
    background-clip: text;

    &.isWorkPhase {
      background: linear-gradient(
        to top,
        var(--primary-color) 0%,
        var(--primary-color) var(--progress),
        lightgray var(--progress)
      );
      background-clip: text;
    }
  }

  .timerHeader {
    font-size: 2em;
    color: var(--secondary-color);
    font-weight: 100;
  }

  .timerDisplayIcon {
    visibility: hidden;
  }

  .timerDisplayIcon {
    visibility: visible;
  }
}
